#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-wrap: wrap;
}

.span-title {
  padding: 5px;
  color: red;
  letter-spacing: 1px;

}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.row {
  display: flex;
  

 }
 .cell {
  width: 20px;
  height: 20px;

 }
 .hasWonLetter {
  color: green;
  font-weight: bolder;
  text-shadow: 2px 2px 10px #000;
 }
 .incorrect {
  color: red;
  text-shadow: 1px 1px 5px red;
 }


 .cell:hover {
  cursor: pointer;
  color: blue;
  text-shadow: 1px 1px 10px white;
 }

